.dish
{
    background-color: #f2f2f2;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border-right: orange 3px solid;
}
header
{
    background-color: teal;
}
#fliklista
{
    padding: 10px;
    display: flex;
}
.flik
{
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
    flex: 1;
    border-right: orange 3px solid;
    background-color: #f2f2f2;
}

.flik, .fliklänk
{
    color: black;
    text-decoration: none;
}

.flik:hover
{
    background-color: #e2dddd
}

#extralink
{
    flex: 7;
    background-color: teal;
    border: none;
}

h1
{
    margin: auto;
}

body
{
    width: 100%;
}

main
{
    display: flex;
    flex-direction: column;
}

#title
{
    flex: 1;
    margin: auto;
}

#data
{
    flex: 1;
    padding: 10px;
}